.main{position:absolute;
     left:400px;
     margin:10px; }

.Retro{
    position:relative;
    left:120px;
    top:-35px;
    width:40px;
    height:20px;
    border:lightblue;
    background:lightblue;
    color:white;
}

.Sidemenu{
    position:absolute;
    margin:10px;
    left:15px;
}
.currentArticles{
    position:relative;
    margin:10px;
    left:200px;
    top:-55px;
    font-size:14px;
}

.txt1{
    position:absolute;
    top:180px;
    left:200px;
    font-size:14px;
}
.txt2{position:absolute;
    top:380px;
    left:365px;
    font-size:14px;
   }
.txt3{
    position:relative;
    margin:8px;
    top:135px;
    left:20px;

}
.txt4{
    position:relative;
    top:-40px;
    left:10px;
    font-size:14px;

}

.txt5{
    position:absolute;
    left:10px;
    top:30px;
    font-size:14px;

}
.img1{
    position:absolute;
    left:560px;
    top:210px;
}

.img2{
    position:absolute;
    left:220px;
    top:400px;

}
.color{
    color:blue;
}
.line{ border-top: 2px solid lightgrey;
color:lightblue;
width:550px;
    position:absolute;
left:220px;
top:390px;}