.Retro{
    position:relative;
    left:120px;
    top:-35px;
    width:40px;
    height:20px;
    border:lightblue;
    background:lightblue;
    color:white;
}

.Sidemenu{
    margin:10px;
    left:30px;
}
.currentArticles{
    position:relative;
    margin:10px;
    left:180px;
    top:-470px;
    font-size:14px;
}

.txt1{
    position:absolute;
    top:180px;
    left:200px;
}
.txt2{position:absolute;
    top:420px;
    left:365px;
   }
.txt3{
    margin:8px;
}
.txt4{
    position:relative;
    top:-40px;
    left:10px;
}
.img1{
    position:absolute;
    left:610px;
    top:250px;

}

.img2{
    position:absolute;
    left:220px;
    top:435px;

}
.color{
    color:blue;
}
.line{ border-top: 2px solid lightgrey;
color:lightblue;
width:550px;
    position:absolute;
left:220px;
top:420px;}