.centered{
    position:relative; /*position*/
    left:200px;
    height:75px;
    background-color: whitesmoke; /*Background color*/
    color:black; /*Text color*/
    width:800px; /*Width*/
    border: 1px; /*border*/
    font-family: "Baskerville Old Face"; /*Font*/
    text-align:center; /*text align*/
    appearance: none;
}

